input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  //display: inline-block;
  //border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=password], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  //display: inline-block;
  //border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=rounded-circle]:hover {
  background-color: #45a049;
}


div.background {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

a {
  color: #000000;
}

h3 {
  color: #000000;
}

.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

p {
  color: #ff0028;
}

.length {
  //display: inline-block;
}

nb-card {
  width: 500px;
}
