<div class="row">
  <div class="col-12">
    <nb-card>
      <nb-card-header>Employee</nb-card-header>
      <nb-card-body>
        <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)" (editConfirm)="onEditConfirm($event)" (createConfirm)="onCreateConfirm($event)">
        </ng2-smart-table>
      </nb-card-body>
    </nb-card>
    <!--{{alluser | json}}-->
  </div>
</div>
<div class="row">
  <div class="col-12">
    <nb-card>
      <nb-card-header>Manager</nb-card-header>
      <nb-card-body>
        <ng2-smart-table [settings]="settings2" [source]="source2" (deleteConfirm)="onDeleteConfirm($event)" (editConfirm)="onEditConfirm2($event)" (createConfirm)="onCreateConfirm2($event)">
        </ng2-smart-table>
      </nb-card-body>
    </nb-card>
  </div>
</div>
