<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>ประวัติส่วนตัว</nb-card-header>
      <nb-card-body>

      </nb-card-body>
    </nb-card>
  </div>
</div>

{{ user | json }}
{{ users | json }}
