<div class="flex-center full-height">
<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header><h2> REGISTER </h2></nb-card-header>
      <nb-card-body>
        <form [formGroup]="profileForm" (submit)="OnSubmit($event)">
          <div class="row">
            <div class="col-sm-12">
              <div align="center">
                <a (click)="fileInput.click()">
                  <img [src]="imageUrl"  style="width:250px;height:200px" class="rounded-circle"
                   [ngClass]="{
                    'is-valid' : isSubmitted && isImages,
                    'is-invalid' : isSubmitted && !isImages
                  }">
                  <br>
                  <input type="file" #fileInput #Image accept="image/*" (change)="handleFileInput($event.target.files)" style="visibility:hidden">
                </a>
                <div *ngIf="isSubmitted">
                  <div *ngIf="!isImages">
                    <p> กรุณาเลือกรูปประจำตัว </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br/>
          <div class="row">
            <div class="col-sm-1">
              <div class="form-group">
                <label>เพศ</label>
                    <label class="custom-control custom-radio">
                      <input type="radio" class="custom-control-input" name="inputSex" [value]="true" (change)="onItemChange('Male')">
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">ชาย</span>
                    </label>
                    <label class="custom-control custom-radio">
                      <input type="radio" class="custom-control-input" name="inputSex" [value]="false" (change)="onItemChange('Female')" checked>
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">หญิง</span>
                    </label>
              </div>
            </div>
            <div class="col-sm-5">
              <div class="form-group">
                <label for="inputFirstName">ชื่อ</label>
                <input type="text" class="form-control" id="inputFirstName" placeholder="ชื่อ" formControlName="FirstName"
                  [ngClass]="{
                    'form-control-success' : isSubmitted && profileForm.controls.FirstName.valid,
                    'form-control-danger' : isSubmitted && !profileForm.controls.FirstName.valid
                  }">
              </div>
              <div *ngIf="isSubmitted && profileForm.controls.FirstName.errors">
                <div *ngIf="profileForm.controls.FirstName.errors.required">
                  <p> กรุณากรอกข้อมูล </p>
                </div>
                <div *ngIf="profileForm.controls.FirstName.errors.minlength">
                  <p> ชื่อต้องมีความยาวมากกว่า 1 ตัวอักษร </p>
                </div>
                <div *ngIf="profileForm.controls.FirstName.errors.maxlength">
                  <p> ชื่อต้องมีความยาวน้อยกว่า 30 ตัวอักษร </p>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputLastName">นามสกุล</label>
                <input type="text" class="form-control" id="inputLastName" placeholder="นามสกุล" formControlName="LastName"
                  [ngClass]="{
                    'form-control-success' : isSubmitted && profileForm.controls.LastName.valid,
                    'form-control-danger' : isSubmitted && !profileForm.controls.LastName.valid
                  }">
                <div *ngIf="isSubmitted && profileForm.controls.LastName.errors">
                  <div *ngIf="profileForm.controls.LastName.errors.required">
                    <p> กรุณากรอกข้อมูล </p>
                  </div>
                  <div *ngIf="profileForm.controls.LastName.errors.minlength">
                    <p> ชื่อต้องมีความยาวมากกว่า 1 ตัวอักษร </p>
                  </div>
                  <div *ngIf="profileForm.controls.LastName.errors.maxlength">
                    <p> ชื่อต้องมีความยาวน้อยกว่า 30 ตัวอักษร </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputNickName">ชื่อเล่น</label>
                <input type="text" class="form-control" id="inputNickName" placeholder="ชื่อเล่น" formControlName="NickName"
                       [ngClass]="{
                    'form-control-success' : isSubmitted && profileForm.controls.NickName.valid,
                    'form-control-danger' : isSubmitted && !profileForm.controls.NickName.valid
                  }">
                <div *ngIf="isSubmitted && profileForm.controls.NickName.errors">
                  <div *ngIf="profileForm.controls.NickName.errors.required">
                    <p> กรุณากรอกข้อมูล </p>
                  </div>
                  <div *ngIf="profileForm.controls.NickName.errors.minlength">
                    <p> ชื่อต้องมีความยาวมากกว่า 1 ตัวอักษร </p>
                  </div>
                  <div *ngIf="profileForm.controls.NickName.errors.maxlength">
                    <p> ชื่อต้องมีความยาวน้อยกว่า 20 ตัวอักษร </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputBirthday">วัน เดือน ปี เกิด</label>
                <input type="date" class="form-control" id="inputBirthday" formControlName="Birthday"
                       [ngClass]="{
                    'form-control-success' : isSubmitted && profileForm.controls.Birthday.valid,
                    'form-control-danger' : isSubmitted && !profileForm.controls.Birthday.valid
                  }">
                <div *ngIf="isSubmitted && profileForm.controls.Birthday.errors">
                  <div *ngIf="profileForm.controls.Birthday.errors.required">
                    <p> กรุณากรอกข้อมูล </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputWeight">น้ำหนัก (กก.)</label>
                <input type="number" class="form-control" id="inputWeight" placeholder="น้ำหนัก" step = "0.1" max="300" min="0" formControlName="Weight"
                       [ngClass]="{
                    'form-control-success' : isSubmitted && profileForm.controls.Weight.valid,
                    'form-control-danger' : isSubmitted && !profileForm.controls.Weight.valid
                  }">
                <div *ngIf="isSubmitted && profileForm.controls.Weight.errors">
                  <div *ngIf="profileForm.controls.Weight.errors.required">
                    <p> กรุณากรอกข้อมูล </p>
                  </div>
                  <div *ngIf="profileForm.controls.Weight.errors.min">
                    <p> น้ำหนักต้องมากกว่า 10 กก. </p>
                  </div>
                  <div *ngIf="profileForm.controls.Weight.errors.max">
                    <p> น้ำหนักต้องน้อยกว่า 30 กก. </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputHeight">ส่วนสูง (ซม.)</label>
                <input type="number" class="form-control" id="inputHeight" placeholder="ส่วนสูง" step = "0.1" max="400" min="0" formControlName="Height"
                       [ngClass]="{
                    'form-control-success' : isSubmitted && profileForm.controls.Height.valid,
                    'form-control-danger' : isSubmitted && !profileForm.controls.Height.valid
                  }">
                <div *ngIf="isSubmitted && profileForm.controls.Height.errors">
                  <div *ngIf="profileForm.controls.Height.errors.required">
                    <p> กรุณากรอกส่วนสูง </p>
                  </div>
                  <div *ngIf="profileForm.controls.Height.errors.min">
                    <p> ส่วนสูงต้องมากกว่า 20 ซม. </p>
                  </div>
                  <div *ngIf="profileForm.controls.Height.errors.max">
                    <p> ส่วนสูงต้องน้อยกว่า 400 ซม. </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="inputAddress">ที่อยู่</label>
                <textarea id="inputAddress" class="form-control" placeholder="ที่อยู่" formControlName="Address" [ngClass]="{
                    'form-control-success' : isSubmitted && profileForm.controls.Address.valid,
                    'form-control-danger' : isSubmitted && !profileForm.controls.Address.valid
                  }"></textarea>
                <div *ngIf="isSubmitted && profileForm.controls.Address.errors">
                  <div *ngIf="profileForm.controls.Address.errors.required">
                    <p> กรุณากรอกที่อยู่ </p>
                  </div>
                  <div *ngIf="profileForm.controls.Address.errors.minlength">
                    <p> ชื่อต้องมีความยาวมากกว่า 10 ตัวอักษร </p>
                  </div>
                  <div *ngIf="profileForm.controls.Address.errors.maxlength">
                    <p> ชื่อต้องมีความยาวน้อยกว่า 1000 ตัวอักษร </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="pull-right">
            <input type="submit" value="submit" class="btn btn-success">
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
 <!--{{ input | json }}-->
<!--<br>-->
<!--{{inputs | json}}-->
</div>

<div class="row">
  <div class="col s8 offset-2">
    <nb-card>
      <div class="card-panel teal lighten-2">
        <h4 class="center white-text">Image Library</h4>
      </div>
      <form #imageForm=ngForm (ngSubmit)="OnSubmit2(Caption,Image)">
        <div class="row">
          <div class="input-field col s12">
            <input type="text" #Caption ngModel name="Caption" id="Caption" required>
            <label for="Caption">Caption</label>
          </div>
        </div>
        <img [src]="imageUrl"  style="width:250px;height:200px">
        <input type="file" #Image accept="image/*" (change)="handleFileInput2($event.target.files)">
        <button type="submit" class="btn-large btn-submit">Submit</button>
      </form>
    </nb-card>
  </div>
</div>