.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

img.is-valid {
  border: 3px solid #00ff18;
}

img.is-invalid {
  border: 3px solid #cc0100;
}

p {
  color: #ff0028;
}