<div class="row">
  <div class="col-lg-3" *ngFor="let user of users; let i = index">
    <nb-card>
      <!--nb-card-header>{{user.emp_name}}</nb-card-header-->
      <nb-card-body>
        <div align="center" *ngIf="user.emp_img != null">
          <img src="{{ hostUrl }}storage/app/{{user.emp_img}}" class="rounded-circle" alt="Cinque Terre" width="100" height="100">
        </div>
        <div align="center" *ngIf="user.emp_img == null">
          <img src="assets/images/default-image.png" class="rounded-circle" alt="Cinque Terre" width="100" height="100">
        </div>
        <br>
        <div align="center">
          <p class="p1 upsize2"> {{user.emp_nickname}} </p>
          <p> {{user.emp_name}} {{user.emp_lastname}} </p>
        </div>
        <!hr>
        <!--div align="center">
            สถานะ
        </div-->
        <div align="center">
          <div *ngIf="user.user_status == 1">
            <p class="upsize1"> Employee </p>
          </div>
          <div *ngIf="user.user_status == 2">
            <p class="upsize1"> Supervisor </p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-6">
             รูปร่าง
          </div>
          <div class="col-6"  align = 'right'>
            <ngb-rating [(rate)]="starRate" max=5>
              <ng-template let-fill="fill">
                    <span class="star fill" [class.filled]="fill === 100">
                      <i class="ion-android-star" *ngIf="fill === 100"></i>
                      <i class="ion-android-star-outline" *ngIf="fill !== 100"></i>
                    </span>
              </ng-template>
            </ngb-rating>
          </div>
          <!--<div class="col-2">-->
            <!--<span class="current-rate">{{ starRate }}</span>-->
          <!--</div>-->
        </div>

        <div class="row">
          <div class="col-6">
            หน้าตา
          </div>
          <div class="col-6"  align = 'right'>
            <ngb-rating [(rate)]="starRate2" max=5>
              <ng-template let-fill="fill">
                    <span class="star fill" [class.filled]="fill === 100">
                      <i class="ion-android-star" *ngIf="fill === 100"></i>
                      <i class="ion-android-star-outline" *ngIf="fill !== 100"></i>
                    </span>
              </ng-template>
            </ngb-rating>
          </div>
          <!--<div class="col-2">-->
            <!--<span class="current-rate">{{ starRate2 }}</span>-->
          <!--</div>-->
        </div>

        <div class="row">
          <div class="col-6">
            การทำงาน
          </div>
          <div class="col-6"  align = 'right'>
            <ngb-rating [(rate)]="starRate3" max=5>
              <ng-template let-fill="fill">
                    <span class="star fill" [class.filled]="fill === 100">
                      <i class="ion-android-star" *ngIf="fill === 100"></i>
                      <i class="ion-android-star-outline" *ngIf="fill !== 100"></i>
                    </span>
              </ng-template>
            </ngb-rating>
          </div>
          <!--<div class="col-2">-->
            <!--<span class="current-rate">{{ starRate3 }} </span>-->
          <!--</div>-->
        </div>

        <div class="row">
          <div class="col-6">
            ปฏิสัมพันธ์
          </div>
          <div class="col-6" align = 'right'>
            <ngb-rating [(rate)]="starRate4" max=5>
              <ng-template let-fill="fill">
                    <span class="star fill" [class.filled]="fill === 100">
                      <i class="ion-android-star" *ngIf="fill === 100"></i>
                      <i class="ion-android-star-outline" *ngIf="fill !== 100"></i>
                    </span>
              </ng-template>
            </ngb-rating>
          </div>
          <!--<div class="col-2">-->
            <!--<span class="current-rate">{{ starRate4 }}</span>-->
          <!--</div>-->
        </div>
        <!--<div>-->
          <!--<table>-->
            <!--<tr>-->
              <!--<td> <p> รูปร่าง </p> </td>-->
              <!--<td>-->
                <!--<ngb-rating [(rate)]="starRate" max=5>-->
                  <!--<ng-template let-fill="fill">-->
                    <!--<span class="star fill" [class.filled]="fill === 100">-->
                      <!--<i class="ion-android-star" *ngIf="fill === 100"></i>-->
                      <!--<i class="ion-android-star-outline" *ngIf="fill !== 100"></i>-->
                    <!--</span>-->
                  <!--</ng-template>-->
                <!--</ngb-rating>-->
              <!--</td>-->
              <!--<td>-->
                <!--<span class="current-rate">{{ starRate }}</span>-->
              <!--</td>-->
            <!--</tr>-->
          <!--</table>-->
          <!--&lt;!&ndash;<p> รูปร่าง </p>&ndash;&gt;-->
          <!--&lt;!&ndash;<ngb-rating [(rate)]="starRate" max=5>&ndash;&gt;-->
            <!--&lt;!&ndash;<ng-template let-fill="fill">&ndash;&gt;-->
              <!--&lt;!&ndash;<span class="star fill" [class.filled]="fill === 100">&ndash;&gt;-->
                <!--&lt;!&ndash;<i class="ion-android-star" *ngIf="fill === 100"></i>&ndash;&gt;-->
                <!--&lt;!&ndash;<i class="ion-android-star-outline" *ngIf="fill !== 100"></i>&ndash;&gt;-->
              <!--&lt;!&ndash;</span>&ndash;&gt;-->
            <!--&lt;!&ndash;</ng-template>&ndash;&gt;-->
          <!--&lt;!&ndash;</ngb-rating>&ndash;&gt;-->
          <!--&lt;!&ndash;<span class="current-rate">{{ starRate }}</span>&ndash;&gt;-->
        <!--</div>-->
      </nb-card-body>
      <nb-card-footer>
        <div align="center">
          <p> เบอร์โทรศัพท์ </p>
        </div>
        <div align="center">
          <p class="p1 upsize1"> {{user.user_id}} </p>
        </div>
      </nb-card-footer>
    </nb-card>
  </div>
</div>

<!--
{{users | json}}
<br>
{{ user_status | json }}
<br>
-->