<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>กรุณากรอกข้อมูล</nb-card-header>
      <nb-card-body>
        <!--form #firstForm="ngForm" novalidate (ngSubmit)="firstSubmit(firstForm)">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputFirstName">ชื่อ*</label>
                <input type="text" class="form-control" name="inputFirstName" placeholder="ชื่อ" [(ngModel)]="input.FirstName" #inputFirstName="ngModel">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputLastName">นามสกุล*</label>
                <input type="text" class="form-control" name="inputLastName" placeholder="นามสกุล" [(ngModel)]="input.LastName" #inputLastName="ngModel">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputNickName">ชื่อเล่น*</label>
                <input type="email" class="form-control" name="inputNickName" placeholder="ชื่อเล่น" [(ngModel)]="input.NickName" #inputNickName="ngModel">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputPhoneNumber">เบอร์โทร*</label>
                <input type="text" class="form-control" name="inputPhoneNumber" placeholder="08X-XXX-XXXX" [(ngModel)]="input.PhoneNumber" #inputPhoneNumber="ngModel" disabled>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group">
                <label for="inputAddress">ที่อยู่*</label>
                <textarea name="inputAddress" class="form-control" placeholder="ที่อยู่" [(ngModel)]="input.Address" #inputAddress="ngModel"></textarea>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputWeight">น้ำหนัก*</label>
                <input type="text" class="form-control" name="inputWeight" placeholder="น้ำหนัก" [(ngModel)]="input.Weight" #inputWeight="ngModel">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputHeight">ส่วนสูง*</label>
                <input type="text" class="form-control" name="inputHeight" placeholder="ส่วนสูง" [(ngModel)]="input.Height" #inputHeight="ngModel">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputWebsite">เพิ่มรูป*</label>
                <!img class="d-block w-100 h-100" src="assets/images/violette.jpg">
              </div>
              <div class="form-group">
                <label for="inputImg">Example file input</label>
                <!input type="file" class="form-control-file" name="inputImg" [(ngModel)]="input.Img" #inputImg="ngModel">
              </div>
              <div class="form-group">
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="customFile">
                  <label class="custom-file-label" for="customFile">Choose file</label>
                </div>
              </div>
            </div>
          </div>
          <div class="pull-right">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form-->
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <nb-card>
      <nb-card-body class="demo-rating">
        <span class="rating-header">Rating</span>
        <div>
          <table width="100%">
            <tr>
              <td>
                <span class="current-rate">รูปร่างหน้าตา</span>
              </td>
              <td>
                <div class="pull-right">
                  <ngb-rating [(rate)]="starRate" max=5>
                    <ng-template let-fill="fill">
                      <span class="star fill" [class.filled]="fill === 100">
                        <i class="ion-android-star" *ngIf="fill === 100"></i>
                        <i class="ion-android-star-outline" *ngIf="fill !== 100"></i>
                      </span>
                    </ng-template>
                  </ngb-rating>
                  <span class="current-rate">{{ starRate }}</span>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>