
<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        ทดสอบ
      </nb-card-header>
      <nb-card-body>
        asd
      </nb-card-body>
    </nb-card>
  </div>


</div>
