<!--div class="row">
  <div class="col-lg-6 offset-md-3">
<form (submit)="loginUser($event)">
  <h3> User </h3>
  <input type="text" placeholder="เบอร์โทร" id="username">
  <input type="password" placeholder="รหัสผ่าน" id="password">
  <input type="submit" value="submit">
</form>
    <a align = "left" routerLink="/admin">ไปหน้า login admin</a>
  </div>
</div>

<table>
  <tr>
    <td>No.</td>
    <td>user_id</td>
    <td>user_pass</td>
  </tr>
  <tr *ngFor="let alluser of alluser; let i = index;">
    <td> {{i+1}} </td>
    <td>{{alluser.user_id}}</td>
    <td>{{alluser.user_pass}}</td>
  </tr>
</table-->